@model StudentPortal.Web.Models.Mahasiswa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Mahasiswa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NIM" class="control-label"></label>
                <input asp-for="NIM" class="form-control" />
                <span asp-validation-for="NIM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jurusan" class="control-label"></label>
                <input asp-for="Jurusan" class="form-control" />
                <span asp-validation-for="Jurusan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanggalLahir" class="control-label"></label>
                <input asp-for="TanggalLahir" class="form-control" />
                <span asp-validation-for="TanggalLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
